<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-img
      src="../../../assets/image/logo.png"
    ></ion-img>
</ion-header>

<ion-row class="container__sensores">
  <ion-col size="12">
    <ion-row class="container__sensores_header">
        <ion-col>
          <ion-title>Sensores</ion-title>
        </ion-col>
        <ion-col>
          <ion-fab>
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
    </ion-row>

    <ion-row class="container__carrossel">
      <ion-col></ion-col>
    </ion-row>
  </ion-col>
</ion-row>
</ion-content>
