<ion-modal trigger="open-modal-sensor" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <ion-row class="container__title">
      <ion-col>
        <ion-toolbar>
          <ion-title>Informações</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row class="container__form">
      <ion-col>
        <form [formGroup]="formSensor" (ngSubmit)="onSubmit()">
          <ion-row class="container__input">
            <ion-col size="12">
              <ion-input 
                formControlName="nome"
                label="Nome" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Digite um nome"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-input 
                formControlName="local"
                label="Local" 
                label-placement="floating" 
                fill="outline" 
                placeholder="Digite o local"></ion-input>
            </ion-col>
            <ion-col size="12">
              <ion-textarea 
                formControlName="descricao" 
                label="Descricao" 
                labelPlacement="floating" 
                fill="outline" 
                placeholder="Digite um descrição"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row class="container__buttons ion-justify-content-around">
            <ion-col size="4">
              <ion-button id="btn__cancelar" color="danger">Cancelar</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button type="ngSubmit" [disabled]="formSensor.invalid" id="btn__confirmar" color="secondary">Confirmar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-modal>