<ion-modal #modal trigger="open-modal-rotina" [initialBreakpoint]="1" [breakpoints]="[0,1]">
  <ng-template>
    <ion-content>
      <ion-row class="container__title">
        <ion-col>
          <ion-toolbar>
            <ion-title>Rotina</ion-title>
          </ion-toolbar>
        </ion-col>
      </ion-row>
  
      <ion-row class="container__form">
        <ion-col>
          <form [formGroup]="formRotina" (ngSubmit)="onSubmit()">
            <!--   -->
            <ion-row class="container__input_nome">
              <ion-col size="12">
                <ion-title>Nome Rotina</ion-title>
                <ion-input 
                  formControlName="nome"
                  label="Nome Rotina" 
                  label-placement="floating" 
                  fill="outline" 
                  placeholder="Digite o nome da Rotina">
                </ion-input>  
              </ion-col>
            </ion-row>
            <ion-row class="container__input_dia">
              <ion-col size="12" >
                <ion-title>Dias da Semana</ion-title>
                <ion-row class="container__select">
                  <ion-col size="12" size-sm="6">
                    <ion-select label="Inicio" label-placement="floating" fill="outline" formControlName="diaInicio"> 
                      <ion-select-option value="segunda">Segunda-Feira</ion-select-option>
                      <ion-select-option value="terca-feira">Terca-Feira</ion-select-option>
                      <ion-select-option value="quarta-feira">Quarta-Feira</ion-select-option>
                      <ion-select-option value="quinta-feira">Quinta-Feira</ion-select-option>
                      <ion-select-option value="sexta-feira">Sexta-Feira</ion-select-option>
                      <ion-select-option value="sabado">Sábado</ion-select-option>
                      <ion-select-option value="domingo">Domingo</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="12" size-sm="6">
                    <ion-select label="Término" label-placement="floating" fill="outline" formControlName="diaFim">
                      <ion-select-option value="segunda">Segunda-Feira</ion-select-option>
                      <ion-select-option value="terca-feira">Terca-Feira</ion-select-option>
                      <ion-select-option value="quarta-feira">Quarta-Feira</ion-select-option>
                      <ion-select-option value="quinta-feira">Quinta-Feira</ion-select-option>
                      <ion-select-option value="sexta-feira">Sexta-Feira</ion-select-option>
                      <ion-select-option value="sabado">Sábado</ion-select-option>
                      <ion-select-option value="domingo">Domingo</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row> 
              </ion-col>
            </ion-row>
            <ion-row class="container__input_horario">
                <ion-col size="12">
                  <ion-title class="title"> Horário</ion-title>
                  <ion-col size="12" size-sm="6">
                    <ion-title>Inicio</ion-title>
                    <div class="container__timer">
                      <ion-datetime presentation="time" formControlName="horario_de_inicio"></ion-datetime>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-sm="6">
                    <ion-title>Término</ion-title>
                    <div class="container__timer">
                      <ion-datetime presentation="time" formControlName="horario_de_termino"></ion-datetime>
                    </div>
                  </ion-col>
                </ion-col>
            </ion-row>
            <ion-row class="container__buttons ion-justify-content-around">
              <ion-col size="4">
                <ion-button id="btn__cancelar" color="danger" (click)="modal.dismiss()">Cancelar</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button type="ngSubmit" id="btn__confirmar" color="secondary">Confirmar</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>